<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Parking Slot information</h5>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 001</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 002</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 003</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 004</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 005</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-reserved">
                <h5><b>PSN 006</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Reserved</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 007</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 008</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 009</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 010</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 011</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 012</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 013</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 014</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 015</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 016</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 017</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 018</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 019</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 020</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-reserved">
                <h5><b>PSN 021</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Reserved</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 022</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 023</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 024</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 025</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 026</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-occupied">
                <h5><b>PSN 027</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Occupied</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 028</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 029</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-available">
                <h5><b>PSN 030</b></h5>
                <i class="theme-icons icon-bus-front-12"> </i>
                <p>Available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
