<!-- <footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.car-go.com?ref=bda-footer">
          Car-Go
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.car-go.com/about-us?ref=bda-footer">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.car-go.com?ref=bda-footer"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" theme-icons icon-heart-2"> </i> by
      <a href="https://www.car-go?ref=bda-footer" target="_blank"> Car-Go </a>
      for a better web.
    </div>
  </div>
</footer> -->
