<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Parked Vehicles</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Parking Slot</th>
                  <th>Plate No.</th>
                  <th>Customer Type</th>
                  <th class=" text-center">Violations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PSN 001</td>
                  <td>KBY 2****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 002</td>
                  <td>KCE 4****</td>
                  <td>New</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 004</td>
                  <td>KBF 4****</td>
                  <td>Baileux</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 005</td>
                  <td>KCB 0****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 010</td>
                  <td>KBG 7****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 012</td>
                  <td>KAG 8****</td>
                  <td>Member</td>
                  <td class=" text-center">Double-parked</td>
                </tr>
                <tr>
                  <td>PSN 015</td>
                  <td>KCB 3****</td>
                  <td>New</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 016</td>
                  <td>KBH 0****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 017</td>
                  <td>KCE 5****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 019</td>
                  <td>KAE 9****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 020</td>
                  <td>KBC 2****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 024</td>
                  <td>KCC 3****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 027</td>
                  <td>KBG 4****</td>
                  <td>Returning</td>
                  <td class=" text-center">Null</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Reserved Slots</h4>
          <p class=" category">These slots are reserved to these vehicles</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Parking Slot</th>
                  <th>Plate No.</th>
                  <th>Customer Type</th>
                  <th class=" text-center">Violations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PSN 006</td>
                  <td>KDA 2****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
                <tr>
                  <td>PSN 021</td>
                  <td>KCD 7****</td>
                  <td>Member</td>
                  <td class=" text-center">Null</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
