<div class=" content">
  <div class=" card card-chart">
    <div class=" card-header">
      <div class=" row">
        <div class=" col-sm-6 text-left">
          <h2 class=" card-title">Settings</h2>
        </div>
        <div class=" col-sm-6">
          <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class=" btn btn-sm btn-danger btn-simple"
              (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false"
              [ngClass]="{'active':clicked===true}">
              <input checked="checked" name="options" type="radio" />

              <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                All
              </span>
              <span class=" d-block d-sm-none">
                <i class=" theme-icons icon-single-02"> </i>
              </span>
            </label>
            <label class=" btn btn-sm btn-danger btn-simple"
              (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false"
              [ngClass]="{'active':clicked1===true}">
              <input class=" d-none d-sm-none" name="options" type="radio" />

              <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                System
              </span>
              <span class=" d-block d-sm-none">
                <i class=" theme-icons icon-gift-2"> </i>
              </span>
            </label>
            <label class=" btn btn-sm btn-danger btn-simple"
              (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true"
              [ngClass]="{'active':clicked2===true}">
              <input class=" d-none" name="options" type="radio" />

              <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                User
              </span>
              <span class=" d-block d-sm-none">
                <i class=" theme-icons icon-tap-02"> </i>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card card-tasks">
          <div class=" card-body">
            <div class=" table-full-width table-responsive">
              <table class=" table">
                <tbody>
                  <tr>
                    <td class="border-none">
                      <div class=" form-check">
                        <label class=" form-check-label">
                          <input checked="" class=" form-check-input" type="checkbox" value="" />
                          <span class=" form-check-sign">
                            <span class=" check"> </span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td class="border-none">
                      <p class=" title">Hardware acceleration</p>
                      <p class=" text-muted">
                        Use hardware acceleration when available</p>
                    </td>
                    <td class=" td-actions text-right border-none">
                      <button class=" btn btn-link" type="button" placement="left" ngbTooltip="System" container="body">
                        <i class=" theme-icons icon-settings"> </i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                      <div class=" form-check">
                        <label class=" form-check-label">
                          <input checked="" class=" form-check-input" type="checkbox" value="" />
                          <span class=" form-check-sign">
                            <span class=" check"> </span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <p class=" title">Notifications</p>
                      <p class=" text-muted">
                        Allow system to send notifications</p>
                    </td>
                    <td class=" td-actions text-right">
                      <button class=" btn btn-link" type="button" placement="left" ngbTooltip="User" container="body">
                        <i class=" theme-icons icon-settings"> </i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" form-check">
                        <label class=" form-check-label">
                          <input class=" form-check-input" type="checkbox" value="" />

                          <span class=" form-check-sign">
                            <span class=" check"> </span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <p class=" title">Background sync</p>
                      <p class=" text-muted">
                        Allow system to send and receive data when not in use</p>
                    </td>
                    <td class=" td-actions text-right">
                      <button class=" btn btn-link" type="button" placement="left" ngbTooltip="System" container="body">
                        <i class=" theme-icons icon-settings"> </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>